<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        
            {% block title %}Bernr{% endblock %}
        
        </title>
        
        {% block stylesheets %}
        
            {% stylesheets
                '../app/Resources/public/css/main.css'
                '../app/Resources/public/css/navigation.css'
                '../app/Resources/public/css/mega-dropdown/reset.css'
                '../app/Resources/public/css/mega-dropdown/style.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
            
        {% endblock %}
        
        {% block javascripts %}
            
            {% javascripts
                '../app/Resources/public/js/jquery-2.1.1.js'
                '../app/Resources/public/js/jquery.menu-aim.js'
                '../app/Resources/public/js/modernizr.js'
                '../app/Resources/public/js/mega-dropdown/mega-dropdown.js'
                '../app/Resources/public/js/user/login.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        {% endblock javascripts %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body style="padding: 0px; margin: 0px;">
        <div style="position:relative; background:#fff;">
            <div style="position:absolute; margin: 0 auto;">
                <img src="/images/bernr-hand.png"
            </div>
            <div style="position: absolute; top: 0px; left: 0px;color:#EF5C26; font-family: 'Muli', sans-serif; padding: 100px 40px; font-size: 40px; width: 30%;">
                <div>
                    We're Bringing Berning Hearts Together!<br/><br/>
                    Coming Soon!
                </div>
        </div>

    </body>

</html>
